@inject Microsoft.Extensions.OptionsModel.IOptions<AppSettings> AppSettings

<div data-bind="component: { name: '@Html.Raw(ViewData["View"])', params: @Html.Raw(ViewData["Params"]) }"></div>

@section Scripts {
    <script>
        window.appContext = {
            basePath: '@Url.Content("~/")',
            octopusServerAddress: '@AppSettings.Value.OctopusServerAddress'
        };
    </script>
    <environment names="Development">
        <script data-main="@Url.Content("~/js/app.js")" src="~/lib/requirejs/require.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script data-main="@Url.Content("~/js/app.built.js")" src="~/lib/requirejs/require.js"></script>
    </environment>
}